{
  "schema" : "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"type\":\"object\",\"properties\":{\"candidate\":{\"type\":\"object\",\"properties\":{\"address\":{\"type\":\"object\",\"properties\":{\"city\":{\"type\":\"string\"},\"country\":{\"type\":\"string\"},\"state\":{\"type\":\"string\"},\"street\":{\"type\":\"string\"}}},\"email\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"}},\"input\":true,\"output\":true},\"interview\":{\"type\":\"object\",\"properties\":{\"date\":{\"type\":\"string\",\"format\":\"date-time\"},\"hire\":{\"type\":\"boolean\"},\"interviewer\":{\"type\":\"string\"},\"salary\":{\"type\":\"integer\"},\"skills\":{\"type\":\"string\"}},\"output\":true}}}",
  "resources" : {
    "scripts" : {
      "jquery.js" : "https://code.jquery.com/jquery-3.2.1.slim.min.js",
      "bootstrap.bundle.min.js" : "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
    },
    "styles" : {
      "bootstrap.min.css" : "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    }
  }
}